body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

a:hover{
    text-decoration: none;
	color: Blue;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

.name ::before, 
.name ::after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 10%;
}

.scroll-back {
    position: relative;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    height: 30%;
    text-align: center;
    color: rgb(255, 255, 255);
    vertical-align: middle;
}

.centerblock{
    margin: 0% auto 0% auto;
    padding: 1.3%;
    background-color: rgba(1,1,1,0.3);
    width: 40%;
    height: 100%;
    font-size: 100%;
    vertical-align: middle;
}

.textblock{
    background-color: rbg(255,255,255);
    padding: 4%;
    text-align: center;
}

.textblock-title {
    padding: 2% 15% 2% 15%;
}

.textblock-paragraph{
    padding: 0% 15% 2% 15%;
}

.textblock-table{
    margin-left: auto;
    margin-right: auto;
}

.image-profile{
    height: 20%;
    width: 100%;
}

.image-tdata{
    width: 50%;
    height: 100%
}