body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

a :hover{
    text-decoration: none;
	color: Blue;
}

a:link, a:visited {
	text-decoration: none;
	color: white;
}

.name ::before, 
.name ::after {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
}

.name {
    text-align: center;
    vertical-align: middle;
    font-size: 100%;
}

.scroll-back {
    position: relative;
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.textblock{
    background-color: rbg(255,255,255);
    padding: 2%;
    text-align: center;
}

.textblock-content{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.textblock-table{
    margin-left: auto;
    margin-right: auto;
}

.caption {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
}

.centerblock{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 1.3%;
    background-color: rgba(1,1,1,0.3);
    width: 25%;
}