/*id names and properties*/
#scrfill {
	overflow: auto;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/*class names and properties*/
.info {
	font-weight: bold;
}

.ld {
	font-size: 24pt;
	border: medium solid blue;
	padding-left: 10%;
	padding-right: 10%;
}

.icon {
	display: inline-block;
	width: 70px;
	height: 70px;
	margin: 0 auto;
}

.frame {
	vertical-align: middle;
	text-align: center;
}

.tabs {
	width: 100%;
	height: 100%;
}

.profpic {
	diplay:block;
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*elements*/
a:link {
	text-decoration: none;
	color: blue;
}
a:visited {
	text-decoration: none;
	color: blue;
}
